---
layout: default
title: 新闻中心
keywords: 保险柜
description: 在这里我们会为您展示更多最新的关于全能保险柜的企业动态，媒体报道，品牌活动，以及行业新闻，让您更快速直接的了解我司的最新状况。
permalink: /news/
---
	<div class="clear"></div>
	<div class="navbar">
		<a href="{{ site.url }}/">全能保险柜</a> &gt; <a href="/news/">新闻中心</a>
	</div>
	<div class="clear"></div>
	<div class="procon">
{% include about_menu.html %}
		<div class="px2">
			<div class="newsbarbox">
				<img src="{{ site.image_cdn }}/images/newsbar.jpg" width="828" height="176" />
			</div>
			<div class="firstnews mt10px">
				{% for first in site.categories["news"] %}{% if forloop.first %}
				<div class="fnl"><a href="{{ first.url }}" title="{{ first.title }}"><img src="{{ site.image_cdn }}{% if first.image %}{{ first.image }}{% else %}/images/corp.jpg{% endif %}" width="180" height="135" /></a></div>
				<div class="fnr">
					<h3><a href="{{ first.url }}" title="{{ first.title }}">{{ first.title }}</a></h3>
					{{ first.excerpt | strip_html | truncate:300 }}
				</div>
				{% endif %}{% endfor %}
				<div class="clear"></div>
			</div>
			<div class="newslist mt10px">
				<ul>{% for post in site.categories["news"] %}
					<li><em>{{ post.date | date:'%Y-%m-%d' }}</em>[<a href="/news/{{ post.type_eng }}/">{{ post.type }}</a>] <a href="{{ post.url }}" class="title">{{ post.title }}</a></li>{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>
