	<div class="px1">
		<div class="px1h">
			<h2>About QNN</h2>
			关于全能
		</div>
		<ul>
			<li><a class="px1li {% if page.url == '/about/' %}px1sel{% endif %}" href="/about/">全能概览</a></li>				
			<li><a class="px1lisub {% if page.url contains '/intro/' %}px1sel{% endif %}" href="/about/intro/">全能介绍</a></li>
			<li><a class="px1lisub {% if page.url contains '/history/' %}px1sel{% endif %}" href="/about/history/">公司历史</a></li>
			<li><a class="px1lisub {% if page.url contains '/tao/' %}px1sel{% endif %}" href="/about/tao/">全能之道</a></li>
			<li><a class="px1lisub {% if page.url contains '/honors/' %}px1sel{% endif %}" href="/about/honors/">全能荣誉</a></li>
			<li class="px1hsep"></li>
			<li><a class="px1li {% if page.url == '/news/' %}px1sel{% endif %}" href="/news/">新闻中心</a></li>
			<li><a class="px1lisub {% if page.url contains '/enterprise-news/' %}px1sel{% endif %}" href="/news/enterprise-news/">企业动态</a></li>
			<li><a class="px1lisub {% if page.url contains '/media-reports/' %}px1sel{% endif %}" href="/news/media-reports/">媒体报道</a></li>
			<li><a class="px1lisub {% if page.url contains '/brand-activities/' %}px1sel{% endif %}" href="/news/brand-activities/">品牌活动</a></li>
			<li><a class="px1lisub {% if page.url contains '/industry-news/' %}px1sel{% endif %}" href="/news/industry-news/">行业新闻</a></li>
			<li class="px1hsep"></li>
			<li><a class="px1li {% if page.url contains '/social/' %}px1sel{% endif %}" href="/social/">社会化媒体</a></li>
			<li class="px1hsep"></li>
			<li><a class="px1li {% if page.url contains '/videos/' %}px1sel{% endif %}" href="/videos/">视频中心</a></li>
			<li class="px1hsep"></li>
			<li><a class="px1li {% if page.url contains '/join/' %}px1sel{% endif %}" href="/join/">加入全能</a></li>
			<li class="px1hsep"></li>
			<li><a class="px1li {% if page.url contains '/contact/' %}px1sel{% endif %}" href="/contact/">联系我们</a></li>
		</ul>
	</div>
