---
layout: default
title: 安全创新-创新中心
keywords: 保险柜
description: 全能保险柜自创立致力于满足人们生活和工作的安全需求，提供各种电子控制锁具、物联网技术，生物识别技术和视频解决方案，确保您的安全生活空间。
permalink: /innovation/safe/
---
	<div class="clear"></div>
	<div class="navbar">
		<a href="{{ site.url }}/">全能保险柜</a> &gt; <a href="/innovation/">创新中心</a> &gt; <a href="/innovation/safe/">安全创新</a>
	</div>
	<div class="clear"></div>
	<div class="procon mt10px">
		<div class="pc1">
			<div class="pcon">
				<ul>
					<li><a href="/innovation/">创新中心</a></li>
					<li><a href="/innovation/decorative/">装饰创新</a></li>
					<li><a href="/innovation/safe/">安全创新</a></li>
					<li><a href="/innovation/intelligent/">智能创新</a></li>
				</ul>
			</div>
		</div>
		<div class="pc2">
			<h3 class="pc2tl">
				安全创新
			</h3>
			<div class="pc2hr"></div>
			<div class="tab-content tab-content-2">
				<h3>拥有的不再失去</h3>
				<p>全能保险柜自创立致力于满足人们生活和工作的安全需求，不论从家庭还是银行、酒店、学校和军政企事业单位等一系列的要求，今天，全能保险柜成为中国保险柜十大品牌、国家高新技术企业、广东省著名商标，提供各种电子控制锁具、物联网技术，生物识别技术和视频解决方案，正是这种承诺的设计、性能和技术，确保您的安全生活空间。</p>
				<img height="176" src="{{ site.image_cdn }}/images/innovation02.png" width="540" />
				<h3>可延时的双人开启锁具：</h3>
				<p>专为企业财务需要、高端家庭保管需要国内首创设计产品，结合传统银行金库门锁设计而成，并可设计专用管理码和普通密码，两人同时到场不同输入才可开柜。独特的延时功能，密码正确仍等待一段时间才可以开柜，对于密码试错、密码破解具有强大的防控能力。</p>
				<h3>多点防撬与低碳合金装甲</h3>
				<p>全能多款创新产品采用四面多点防撬装置配合粗壮实心不锈钢锁栓，全面消除忧患，搭配精选的低碳合金材质，防撬、防钻、防破坏性能表现卓越非凡，全面达到国家3C标准要求，为您的财物保驾护航。</p>
				<h3>贴心创意防火除湿功能</h3>
				<p>全面符合国际标准1010℃，具有高效的隔热夹层，选用进口防火条，既防火又防盗，与国际同步，全方位的安全视角；国内首创的除湿设计，专为梅雨天气而生，自动控制湿度，即使放在潮湿环境也不担心财物受侵蚀。</p>
			</div>
			<div class="mt10px">
				<div class="sbh">热销产品</div>
				<div class="sbc sbc_hot2">
					<ul>{% for post in site.categories["products"] limit:3 %}
						<li><a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ site.prodimgs }}/{{ post.images[0] }}" width="160" height="160" /><br />{{ post.title }}</a></li>{% endfor %}
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="pc3">
			<div class="sdpan">
				<h3>最近的销售网点</h3>
				<p>省：<select id="sdprov" class="sdselect"><option value="">请选择</option></select></p>
				<p>市：<select id="sdcity" class="sdselect"><option value="">请选择</option></select></p>
				<a id="sdfind" href="javascript:;" class="search">搜索</a>
			</div>
			<div class="sidebox mt10px">
				<div class="sbh">全能微博</div>
				<div class="sbc sbc_wb">{% include weibo.html %}</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
