---
layout: default
title: 用户信息反馈卡-服务与支持
permalink: /support/feedback/
---
	<div class="clear"></div>
	<div class="navbar">
		<a href="{{ site.url }}/">全能保险柜</a> &gt; <a href="/support/">服务与支持</a> &gt; <a href="/support/feedback/">用户信息反馈卡</a>
	</div>
	<div class="clear"></div>
	<div class="procon mt10px">
		<div class="pc1">
			<div class="pcon">
				<div class="pcy">服务与支持</div>
{% include support_menu.html %}
			</div>
		</div>
		<div class="pc2x">
			<h3 class="pc2tl">用户信息反馈卡</h3>
			<div class="pc2hr2"></div>

			<div class="gcon bgwht">
				<form>
					<table>
						<thead>
							<tr>
								<th colspan="4">基本信息</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>产品型号</th>
								<td class="tf"><input name="a1" type="text" /></td>
								<th class="th2">出厂编号</th>
								<td><input name="a4" type="text" /></td>
							</tr>
							<tr>
								<th>姓名</th>
								<td><input name="a2" type="text" /></td>
								<th class="th2">电话</th>
								<td><input name="a5" type="text" /></td>
							</tr>
							<tr>
								<th>手机</th>
								<td><input name="a3" type="text" /></td>
								<th class="th2">邮编</th>
								<td><input name="a6" type="text" /></td>
							</tr>
							<tr>
								<th>地址</th>
								<td colspan="3"><input name="a7" size="60" type="text" /></td>
							</tr>
						</tbody>
					</table>
					<table>
						<thead>
							<tr>
								<th colspan="2">反馈信息</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>您是通过何种渠道购买本产品的：</th>
								<td><input name="b1" type="radio" value="1" />专卖店 <input name="b1" type="radio" value="2" />商场 <input name="b1" type="radio" value="3" />家店超市 <input name="b1" type="radio" value="4" />家居市场 <input name="b1" type="radio" value="5" />建材市场 <input name="b1" type="radio" value="6" />网络 <input name="b1" type="radio" value="7" />集团采购 <input name="b1" type="radio" value="8" />其它代销点</td>
							</tr>
							<tr>
								<th>促使您购买本产品的主要因素：</th>
								<td><input name="b2" type="radio" value="1" />品牌 <input name="b2" type="radio" value="2" />价格 <input name="b2" type="radio" value="3" />外观 <input name="b2" type="radio" value="4" />品质 <input name="b2" type="radio" value="5" />安全性 <input name="b2" type="radio" value="6" />服务</td>
							</tr>
							<tr>
								<th>您购买本产品的主要用于：</th>
								<td><input name="b3" type="radio" value="1" />家庭 <input name="b3" type="radio" value="2" />公司财务 <input name="b3" type="radio" value="3" />办公室 <input name="b3" type="radio" value="4" />酒店工程 <input name="b3" type="radio" value="5" />其它</td>
							</tr>
						</tbody>
					</table>
					<table>
						<thead>
							<tr>
								<th colspan="4">产品评价</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>产品外观：</th>
								<td class="tf"><input name="c1" type="radio" value="1" />丑陋</td>
								<td class="tf"><input name="c1" type="radio" value="2" />一般</td>
								<td class="tf"><input name="c1" type="radio" value="3" />美观</td>
							</tr>
							<tr>
								<th>安全性能：</th>
								<td><input name="c2" type="radio" value="1" />不满意</td>
								<td><input name="c2" type="radio" value="2" />一般</td>
								<td><input name="c2" type="radio" value="3" />满意</td>
							</tr>
							<tr>
								<th>使用方便性：</th>
								<td><input name="c3" type="radio" value="1" />差</td>
								<td><input name="c3" type="radio" value="2" />一般</td>
								<td><input name="c3" type="radio" value="3" />好</td>
							</tr>
							<tr>
								<th>品质精工度：</th>
								<td><input name="c4" type="radio" value="1" />粗糙</td>
								<td><input name="c4" type="radio" value="2" />一般</td>
								<td><input name="c4" type="radio" value="3" />精致</td>
							</tr>
							<tr>
								<th>产品性价比：</th>
								<td><input name="c5" type="radio" value="1" />低</td>
								<td><input name="c5" type="radio" value="2" />一般</td>
								<td><input name="c5" type="radio" value="3" />高</td>
							</tr>
						</tbody>
					</table>
					<table>
						<thead>
							<tr>
								<th colspan="4">产品评价</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>送货情况：</th>
								<td class="tf"><input name="d1" type="radio" value="1" />自提</td>
								<td class="tf"><input name="d1" type="radio" value="2" />送货上门</td>
							</tr>
							<tr>
								<th>服务工程师专业形象：</th>
								<td><input name="d2" type="radio" value="1" />差</td>
								<td><input name="d2" type="radio" value="2" />一般</td>
								<td><input name="d2" type="radio" value="3" />好</td>
							</tr>
							<tr>
								<th>服务工程师送货及时性：</th>
								<td><input name="d3" type="radio" value="1" />按时</td>
								<td><input name="d3" type="radio" value="2" />不按时</td>
							</tr>
							<tr>
								<th>导购中的专业程度：</th>
								<td><input name="d4" type="radio" value="1" />没有介绍</td>
								<td><input name="d4" type="radio" value="2" />一般介绍</td>
								<td><input name="d4" type="radio" value="3" />专业介绍</td>
							</tr>
							<tr>
								<th>导购中的服务态度：</th>
								<td><input name="d5" type="radio" value="1" />差</td>
								<td><input name="d5" type="radio" value="2" />一般</td>
								<td><input name="d5" type="radio" value="3" />好</td>
							</tr>
						</tbody>
					</table>
					<table>
						<thead>
							<tr>
								<th>您对全能产品和服务质量的改进有何宝贵意见：</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><textarea cols="90" name="e1" rows="5"></textarea></td>
							</tr>
							<tr>
								<td class="cent"><input type="submit" value="提交" /></td>
							</tr>
							<tr>
								<td><b>温馨提示</b><br />1、初次使用保险柜时，请不要把应急钥匙与外接电源锁在保险柜内，以便在电力不足或忘记密码时会使用到。<br />2、在使用过程中，遇柜门打不开的状态下，请先确保密码是否正确或电池是否有电，如有其它问题，可致电全国免费服务热线：4008304555）</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>

			<div class="clear"></div>
			<div class="mt10px">
				<div class="sbh">热销产品</div>
				<div class="sbc sbc_hot2 sbc_e">
					<ul>{% for post in site.categories["products"] limit:4 %}
						<li><a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ site.prodimgs }}/{{ post.images[0] }}" width="160" height="160" /><br />{{ post.title }}</a></li>{% endfor %}
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
