---
layout: default
title: 在线留言/报修-服务与支持
permalink: /support/report/
---
	<div class="clear"></div>
	<div class="navbar">
		<a href="{{ site.url }}/">全能保险柜</a> &gt; <a href="/support/">服务与支持</a> &gt; <a href="/support/report/">在线留言/报修</a>
	</div>
	<div class="clear"></div>
	<div class="procon mt10px">
		<div class="pc1">
			<div class="pcon">
				<div class="pcy">服务与支持</div>
{% include support_menu.html %}
			</div>
		</div>
		<div class="pc2x">
			<h3 class="pc2tl">在线留言/报修</h3>
			<div class="pc2hr2"></div>

			<div class="gcon bgwht">
				<form>
					<table>
						<thead>
							<tr>
								<th colspan="2">请详细填写下列表格，我们将会尽快和您取得联系！</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>姓名</th>
								<td><input name="realname" type="text" /></td>
							</tr>
							<tr>
								<th>电话</th>
								<td><input name="telephone" type="text" /></td>
							</tr>
							<tr>
								<th>问题描述或投诉建议</th>
								<td><textarea cols="60" name="content" rows="8"></textarea></td>
							</tr>
							<tr>
								<th></th>
								<td><input type="submit" value="提交" /></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>

			<div class="clear"></div>
			<div class="mt10px">
				<div class="sbh">热销产品</div>
				<div class="sbc sbc_hot2 sbc_e">
					<ul>{% for post in site.categories["products"] limit:4 %}
						<li><a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ site.prodimgs }}/{{ post.images[0] }}" width="160" height="160" /><br />{{ post.title }}</a></li>{% endfor %}
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
