---
layout: default
title: 服务与支持
keywords: 家用保险柜
description: 安能公司为您提供保险柜十大品牌的保险柜、保险箱、家用保险柜、家用保险箱等的服务与支持，在这里我们会为你提供专业的服务支持，祝您使用愉快。
permalink: /support/
---
	<div class="clear"></div>
	<div class="navbar">
		<a href="{{ site.url }}/">全能保险柜</a> &gt; <a href="/support/">服务与支持</a>
	</div>
	<div class="clear"></div>
	<div class="procon mt10px">
		<div class="pc1">
			<div class="pcon">
				<div class="pcy">服务与支持</div>
{% include support_menu.html %}
			</div>
		</div>
		<div class="pc2x">
			<h3 class="pc2tl">
				服务与支持
			</h3>
			<div class="pc2hr2"></div>
			<div class="ser_sup mt10px">
				<div class="ser_sup_1">
					<h4>服务支持 SERVICE SUPPORT</h4>
					在这里我们将为您提供专业的服务与支持，祝您使用愉快。
				</div>
				<div class="ser_sup_2">
					<div class="ssicon1"></div>
					<a href="service-center/">客户中心</a>
					提供全能产品相关的服务信息
				</div>
				<div class="ser_sup_3">
					<div class="ssicon2"></div>
					<a href="manual/">使用说明</a>
					提供关于产品使用的相关说明及下载服务
				</div>
				<div class="ser_sup_4">
					<div class="ssicon3"></div>
					<a href="faq/">常见问题</a>
					提供产品常用问题的解决办法
				</div>
				<div class="ser_sup_5">
					<div class="ssicon4"></div>
					<a href="knowledge/">产品知识</a>
					介绍与产品相关的各方面知识
				</div>
			</div>
			<div class="ser_sup_cols mt10px">
				<div class="sscol lcol">
					<div class="chead">产品知识</div>
					<table>
						<tbody>{% for post in site.categories["support"] limit:5 %}
							<tr><td><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></td><td>{{ post.date | date:"%Y-%m-%d" }}</td></tr>{% endfor %}
						</tbody>
					</table>
				</div>

				<div class="sscol rcol">
					<div class="chead">使用说明</div>
					<table>
						<tbody>
						<tr><td>新皇冠</td><td><a class="dlicon" href="http://www.qnn.com.cn/cpsm/hg-sm.zip">下载</a></td></tr>
						<tr><td>蓝精灵</td><td><a class="dlicon" href="http://www.qnn.com.cn/cpsm/bgx-sm.zip">下载</a></td></tr>
						<tr><td>可拉柜</td><td><a class="dlicon" href="http://www.qnn.com.cn/cpsm/kl-sm.zip">下载</a></td></tr>
						<tr><td>GLF高尔夫</td><td><a class="dlicon" href="http://www.qnn.com.cn/cpsm/glf-sm.zip">下载</a></td></tr>
						<tr><td>GTX钢铁侠</td><td><a class="dlicon" href="http://www.qnn.com.cn/cpsm/gtx-sm.zip">下载</a></td></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
