---
layout: default
---
	<div class="clear"></div>
	<div class="navbar">
		<a href="{{ site.url }}/">全能保险柜</a> &gt; <a href="/news/">新闻中心</a>
	</div>
	<div class="clear"></div>
	<div class="procon">
{% include about_menu.html %}
		<div class="px2">
			<div class="newsbarbox">
				<img src="{{ site.image_cdn }}/images/qnnvidcenter.png" width="828" height="221" />
			</div>
			<div class="vidslist mt10px">
				<ul>
{% for post in site.categories["videos"] %}
<li><a href="{{ post.url }}" class="title"><img src="{{ post.image }}" width="200" height="150" /><br />{{ post.title }}</a></li>
{% endfor %}
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
