---
layout: default
---
	<div class="clear"></div>
	<div class="navbar">
		<a href="{{ site.url }}/">全能保险柜</a> &gt; <a href="/support/">服务与支持</a> &gt; <a href="/support/knowledge/">产品知识</a>
	</div>
	<div class="clear"></div>
	<div class="procon mt10px">
		<div class="pc1">
			<div class="pcon">
				<div class="pcy">服务与支持</div>
{% include support_menu.html %}
			</div>
		</div>
		<div class="pc2x">
			<h3 class="pc2tl">
				产品知识
			</h3>
			<div class="pc2hr2"></div>
			<div class="newscontent bgwht padbtm30px">
				<div class="newsnav">
				</div>
				<div class="newshead">
					<h2>{{ page.title }}</h2>
					<em>{{ page.date | date:"%Y-%m-%d" }}</em>
				</div>
				<div class="newsbody">
{{ content }}
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
